


  
       body{
       background-image:url("backgrounds.jpg");
       background-repeat:no-repeat;
       background-position:center top; 
       backgound-attachment:fixed;
       text-align:center;
       padding:2px;
       margin:50px;
       padding:2px;
       margin:50px;
      
      }


   p,h1{ 
       font-family: Algerian;
       color: #99722b;
       }

 