
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 2px;
    padding-right: 2px;
}

/*----------------------footer-----------*/
.footer{
    background: white;
    color: dark grey;
    font-size: 14px;
    padding: 30px 0 20 px;
    border-bottom-style:groove;
    border-top-style: solid;
    height:200px;
    margin-top:200px;


}

.footer p{
         font-size:15px;
         }
.footer h2{
          margin-bottom:10px;
         }
}
.footer-col-1, .footer-col-2, .footer-col-3,.footer-col-4,.footer-col-5{
    min-width: 100px;
    
}
.footer-col-1{
    flex-basis: 40%;
    margin-top:20px;

}
.footer-col-2{
    flex-basis: 13%;
    margin-top:20px;

 
    

}
.footer-col-3{
    flex-basis: 12%;
    margin-top:20px;

}


.footer-col-4{
    flex-basis: 12%;
    margin-top:20px;

}

.footer-col-5{
    flex-basis: 2%;
    margin-top:20px;

 }

ul{
    list-style:none;


}


.row{
    display:flex;
    flex-wrap:wrap;
}






